footer {
	justify-self: flex-end;
	section {
		margin: 1rem 0rem;
		h2 {
			text-align: center;
			text-transform: capitalize;
			margin: 2rem 0rem;
		}
		p {
            text-align: center;
			margin: 1rem 0rem;
		}
	}
	.redes {
		div {
            div {
				display: flex;
				align-items: center;
				justify-content: space-evenly;
				margin: 2rem 0rem;
			}
		}
	}
	.logo {
		display: flex;
		justify-content: center;
	}
}