@import 'fonts';
header {
	display: grid;
	grid-template-columns: repeat(12,1fr);
	height: 6rem;
    font-weight: map-get($main_font_weight, Medium-500);
	h1{
        filter: drop-shadow(0 0.25rem 0.25rem rgba(0, 0, 0, 0.25));
    }
	.brand_container {
		display: flex;
		justify-content: center;
		align-items: center;
		grid-column: 2/3;

		img {
            width: 4rem;
		}
	}

	.navbar_container {
		grid-column: 1/-1;
        margin-left: -8%;

		.navbar_link {
			text-decoration: none;
		}

		.navbar_link_special {
            text-decoration: none;
            font-size: 1.25rem;
            font-weight: map-get($main_font_weight, ExtraBold-800);
            background-color: #F4D245;
            border-radius: 500px;
            padding: 0.5rem 2rem;
            filter: drop-shadow(0 0.25rem 0.25rem rgba(0, 0, 0, 0.25));
		}
		
		.navbar_links_container {
			display: flex;
            align-items: baseline;
			justify-content: space-evenly;
			width: 100%;
		}
	}
}

.navbar-toggler-icon {
    background-image: url(../assets/img/hamburger.png)
}