/*Estilos del index*/

main {
    .main_portada{
        background-image: insertar imagen;
        div{
            h1{
                text-align: center;
                margin: 2rem 0rem;
            }
        }
    }
    .main_conocenos{
        background-color: #F4D245;
        height: 26.8rem;
        div{
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;
            h2{
                margin: 2rem 0rem;
            }
            p{
                text-align: center;
                margin: 2rem 0rem;
                padding: 0 10%;
                a {
                    text-decoration: underline;
                    font-size: 1.5rem;
                    font-weight: map-get($main_font_weight, titulo);
                    filter: drop-shadow(0 0.25rem 0.25rem rgba(0, 0, 0, 0.25));
                }
            }
        }
    }
    .main_mapa{
        background-color: #F5F5F5;
        height: 40rem;
        .main_mapa_img{
            display: flex;
            justify-content: flex-end;
            margin-top: 7rem;
            img{
                height: 530px;
                width: 646px;
            }
        }
        div{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: start;
            h2{
                margin: 2rem 0rem 2rem -3rem;
            }
            p{
                text-align: left;
            }
            div{
                margin-left: 20rem;
            }
        }
    }
    .main_filosofia {
        background-color: #F4D245;
        height: 24.5rem;
        h2 {
            margin: 2rem 0rem 1rem;
        }
        div {
            display: flex;
            flex-direction: column;
            align-items: center;
            .filosofia_palabras {
                display: flex;
                flex-direction: row;
                h3{
                    font-size: 2.125rem;
                    margin: 2rem 2rem 2rem 1rem;
                    text-transform: capitalize;
                    font-weight: map-get($main_font_weight, ver_mas);
                }
            }
            .filosofia_texto {
                text-align: center;
                padding: 0 12%;
            }
        }
    }
    .main_indices {
        margin: 5.5rem -2rem 3rem;
        h2 {
            margin: 2rem 0rem;
        }
        .carousel-inner{
            .carousel-item-background{
                background-color: black;
                position: relative;
                img{
                    opacity: 0.6;
                }
            }
            .carousel-caption-container{
                width: 100%;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                h5{
                    color: #FFFFFF;
                    font-size: 2.5rem;
                    text-align: center;
                    filter: drop-shadow(0 0.25rem 0.25rem rgba(0, 0, 0, 0.25));
                }
            }
        }
    }
    .main_ejes {
        .ejes_encabezado{
            font-size: 2.125rem;
            font-style: map-get($main_font_weight, subtitulo);
            margin-bottom: 3.1rem;
            text-align: center;
            padding: 0 15%;
        }
        div {
            background-color: #F4D245;
            h2 {
                margin: 2rem 0rem;
            }
            p {
                text-align: center;
            }
            div {
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                .eje_educacion {
                    padding: 8.3rem 2.7rem 0rem 8.3rem;
                    background-image: url("../assets/img/educacion.png");
                    background-repeat: no-repeat;
                    strong {
                        color: #FFFFFF;
                        font-weight: bold;
                        font-size: 2rem;
                    }
                }
                .eje_acompañamiento {
                    padding:  8.3rem 8.3rem 12.2rem 8.3rem;
                    background-image: insertar imagen;
                    strong {
                        color: #FFFFFF;
                        font-weight: bold;
                        font-size: 2rem;
                    }
                }
            }
        }
        
    }
}

