/*Estilos del index*/

main {
    .main_portada{
        background-image: insertar imagen;
        div{
            h1{
                text-align: center;
                margin: 2rem 0rem;
            }
        }
    }
    .main_conocenos{
        background-color: #F4D245;
        height: 26.8rem;
        div{
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;
            h2{
                text-align: center;
                font-weight: map-get($main_font_weight, titulo);
                margin: 2rem 0rem;
            }
            p{
                text-align: center;
                margin: 2rem 0rem;
                padding: 0 10%;
                a {
                    text-decoration: underline;
                    font-size: 1.5rem;
                    font-weight: map-get($main_font_weight, titulo);
                    filter: drop-shadow(0 0.25rem 0.25rem rgba(0, 0, 0, 0.25));
                }
            }
        }
    }
    .main_mapa{
        background-color: #F5F5F5;
        height: 40rem;
        .main_mapa_img{
            display: flex;
            justify-content: flex-end;
            margin-top: 7rem;
            img{
                height: 530px;
                width: 646px;
            }
        }
        div{
            h2{
                text-align: center;
                font-weight: map-get($main_font_weight, titulo);
                margin: 2rem 0rem 2rem -3rem;
            }
            p{
                text-align: left;
            }
            div{
                margin: 2rem 0rem;
                .btn-secondary {
                    width: 20%;
                    font-weight: map-get($main_font_weight, titulo);
                    text-transform: uppercase;
                    color: #212427;
                    margin-right: 2rem;
                }
            }
        }
    }
}

