@import 'header';
@import 'footer';
@import 'index';
@import 'fonts';

$body-bg: #F5F5F5;
$link-color: #212427;
$font-family-sans-serif: $main_font;
@import '../node_modules/bootstrap/scss/bootstrap.scss';

* {
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}



