@import 'header';
@import 'footer';
@import 'index';
@import 'fonts';

$body-bg: #FFFFFF;
$link-color: #212427;
$font-family-sans-serif: $main_font;
@import '../node_modules/bootstrap/scss/bootstrap.scss';

* {
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100%;

    h2 {
        font-size: 3rem;
        filter: drop-shadow(0 0.25rem 0.25rem rgba(0, 0, 0, 0.25));
        text-align: center;
        font-weight: map-get($main_font_weight, titulo);
    }
    p{
        font-size: 1.5rem;
    }
    .link_ver_mas{
        font-weight: map-get($main_font_weight, ver_mas);
        font-size: 1.25rem;
        filter: drop-shadow(0 0.25rem 0.25rem rgba(0, 0, 0, 0.25));
    }
}



